:root {
  --verde-profundo: #2E5E4E;
  --verde-medio: #6BAF92;
  --verde-claro: #A7D7C5;
  --blanco: #ffffff;
  --gris-oscuro: #2A2A2A;
  --gris-claro: #DDDDDD;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: var(--verde-claro);
  color: var(--gris-oscuro);
}

header {
  text-align: center;
  padding: 25px;
  background: var(--verde-profundo);
  color: var(--blanco);
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.tarjeta {
  width: 380px;
  background: var(--blanco);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid var(--gris-claro);
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  background: var(--verde-profundo);
  color: var(--blanco);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: var(--verde-medio);
}

#mensajeError { color:red; font-weight:bold; text-align:center; }
#mensajeExito { color:green; font-weight:bold; text-align:center; }

